<html>
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">           
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
            <div class="header">
                <h1 class="word">Login</h1>
            </div></br></br></br>
            <h2 class="word">
                <div class="sign_up">
                    <form action="{{ url_for('login') }}" method="post">
                        <div class="msg">{{ msg }}</div>
                        <label> Username </label>
                        <input id="username" name="username" type="text" placeholder="Your username here" class="textbox"/></br></br>
                        <label> Password </label>
                        <input id="password" name="password" type="password" placeholder="Your password here" class="textbox"/></br></br></br>
                        <input type="submit" class="btn" value="Sign In"></br></br>
                    </form>
                    
                </div>
            </h2>
            <p class="bottom">Haven't registered? <a class="bottom" href="{{url_for('register')}}"> Register Here</a></p>
          </div>
        </div>
    </body>
</html>